<div class="row">
    <h1 class="titulo">PROYECTOS</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo proyecto
        </button>
        <br>
    </div>
    <div class="contenedor">
        <div class="uno" *ngFor="let proyecto of proy" >
                <h1>{{proyecto.nombre}}</h1>
                <p>{{proyecto.descripcion}}</p>

                <button class="btn btn-light" routerLink="/editproyecto/{{proyecto.id}}" *ngIf="isLogged">
                    <i class="bi bi-pen"></i>Editar
                </button>

                <button class="btn btn-danger" (click)="delete(proyecto.id)" *ngIf="isLogged">
                    <i class="bi bi-trash"></i>Borrar
                </button>
        </div>
    </div>
</div>